@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Open Sans Semi';
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Medium';
  src: url('../assets/fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans Reg';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}


.container {
    height: 600px;
    width: 374px;
    border-color: black;
    border-width: 1px;
    border-radius: 27px;
    border-style: solid;
  }

  .dateText {
    font-family: 'Open Sans';
    font-size: 20;
    align-self: 'center'
  }
  
  .image {
    max-height: 280px;
    width: 100%;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
  }

  .textContainer {
    height: 140px;
  }

  .textTitle {
    font-family: 'Open Sans';
    font-size: 26px;
    line-height: 28px;
    margin-right: 12px;
  }

  .textSubheader {
    font-family: 'Open Sans Medium';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 14px;
    color: rgb(108, 108, 108);
  }

  .ratingsStyle {
    flex-direction: 'row';
    align-items: 'center';
    height: 40px;
  }

  .baseText {
    font-family: 'Open Sans Medium';
    font-size: 12px;
    width: 130px;
    color: 'grey';
  }

  .yelpButton {
    height: 36px;
  }

  .yelpLogo {
    width: 80px;
    height: 30px;
    align-self: 'center';
  }