@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Open Sans Semi';
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Medium';
  src: url('../assets/fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans Reg';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}


.container {
    height: 500px;
    width: 374px;
    border-color: black;
    border-width: 1px;
    border-radius: 27px;
    border-style: solid;
  }

  .screenContainer {
    display: flex;
    flex-direction: column;
    /*align-items: center; */
  }

  .dateText {
    font-family: 'Open Sans';
    font-size: 18px;
    align-self: 'center'
  }
  
  .image {
    max-height: 280px;
    width: 100%;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
  }

  .textContainer {
    height: 120px;
  }

  .textTitle {
    font-family: 'Open Sans';
    font-size: 26px;
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .textSubheader {
    font-family: 'Open Sans Medium';
    font-size: 18px;
    color: rgb(108, 108, 108);
    margin-top: 6px;
  }

  .ratingsStyle { 
    display: flex;
    flex-direction: column;
    align-self: center;
    
  }

  .baseText {
    font-family: 'Open Sans Medium';
    font-size: 12px;
    width: 210px;
    color: 'grey';
  }

  .yelpButton {
    height: 36px;
    background-color: white;
    border-width: 0px;
  }

  .yelpLogo {
    width: 80px;
    height: 30px;
    align-self: 'center';
  }

  .emojiButton {
    font-size: 90px;
    width: 110px; 
    height: 90px; 
    margin-top: 20px;
    background: none;
    border: none;
    text-align: center; 
    line-height: 90px;
  }